<template>
	<div class="cv">
		<div class="wrapper">
			<div class="first-column">
				<div class="image-container">
					<img class=image-container-photo src="../assets/person.png" alt="zdjecie twarzy">	
				</div>
				<h1 class=cv-name>John<br> Smith</h1>
				<h3 class="cv-occupation">Web Developer</h3>
				<h4 class="cv-contact">Contact</h4>
				<ul class="contact-list">
					<li class="contact-list-item">
						<i class="contact-font-awesome far fa-envelope"></i>
						<p class="contact-list-p">johnsmith@company.com</p>
					</li>
					<li class="contact-list-item">
						<i class="contact-font-awesome fas fa-phone"></i>
						<p class="contact-list-p">+62 0189090168930</p>
					</li>
					<li class="contact-list-item">
						<i class="contact-font-awesome fas fa-home"></i>
						<p class="contact-list-p">Merkid, Yogyakarta</p>
					</li>
					<li class="contact-list-item">
						<i class="contact-font-awesome fas fa-globe"></i>
						<p class="contact-list-p">www.jhonmrongos.com</p>
					</li>
				</ul>
				<h4 class="cv-hobbies">Hobbies</h4>
				<ul class="hobbies-list">
					<li class="hobbies-list-item">
						<i class="hobbies-font-awesome fas fa-plane"></i>
						<p class="hobbies-list-p">Travel</p>
					</li>
					<li class="hobbies-list-item">
						<i class="hobbies-font-awesome fas fa-book"></i>
						<p class="hobbies-list-p">Reading</p>
					</li>
					<li class="hobbies-list-item">
						<i class="hobbies-font-awesome fas fa-music"></i>
						<p class="hobbies-list-p">Music</p>
					</li>
					<li class=hobbies-list-item>
						<i class="hobbies-font-awesome fas fa-pencil-alt"></i>
						<p class="hobbies-list-p">Writing</p>
					</li>
				</ul>
				<div class="cv-social-row">
					<p>Twitter: @Johndoe</p>
					<p>Facebook: John Doe</p>
				</div>
			</div>
			<div class="second-column">
				<div class="cv-heading-row">
					<i class="heading-font-awesome fas fa-user-tie"></i>
					<h2 class="cv-heading">Profile</h2>
				</div>
				<p class="cv-profile-text" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mollis laoreet nibh eget viverra. Maecenas finibus sapien quis quam pretium, eu ullamcorper dolor imperdiet. Nam vitae mattis diam, a consectetur neque. Quisque pellentesque molestie elit, vel lacinia mi gravida ac. Nam vitae mattis diam, a consectetur neque. Quisque pellentesque molestie elit, vel lacinia mi gravida ac.</p>
				<p class="cv-profile-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mollis laoreet nibh eget viverra. Maecenas finibus sapien quis quam pretium, eu ullamcorper dolor imperdiet. Nam vitae mattis diam, a consectetur neque. Quisque pellentesque molestie elit, vel lacinia mi gravida ac. Nam vitae mattis diam, a consectetur neque. Quisque pellentesque molestie elit, vel lacinia mi gravida ac.</p>
				<div class="cv-heading-row">
					<i class="heading-font-awesome fas fa-graduation-cap"></i>
					<h2 class="cv-heading">Education</h2>
				</div>
				<div class="cv-data-container">
					<div class="cv-data-item">
						<p class="cv-university-name">University of YK</p>
						<p class="cv-university-title">Bachelor in Technology Information</p>
						<p class="cv-university-time">2011-2014</p>
						<p class="cv-university-text">Lorem ipsum dolor sit amet, consecetur adispicing elit. Suspendisse non sem ac metus bibendum pulvinar. Nunc laoreet sed mauris id malesauda curabiatur</p>
					</div>
					<div class="cv-data-item">
						<p class="cv-university-name">University of YK</p>
						<p class="cv-university-title">Master in Technology Information</p>
						<p class="cv-university-time">2014-2016</p>
						<p class="cv-university-text">Lorem ipsum dolor sit amet, consecetur adispicing elit. Suspendisse non sem ac metus bibendum pulvinar. Nunc laoreet sed mauris id malesauda curabiatur</p>
					</div>
				</div>
				<div class="cv-heading-row">
					<i class=" heading-font-awesome fas fa-tv"></i>
					<h2 class="cv-heading">Experience</h2>
				</div>
				
				<div class="cv-data-container">
					<div class="cv-data-item">
						<p class="cv-university-name">Dugab YK.CO</p>
						<p class="cv-university-title">Junior Web Developer</p>
						<p class="cv-university-time">2016</p>
						<p class="cv-university-text">Lorem ipsum dolor sit amet, consecetur adispicing elit. Suspendisse non sem ac metus bibendum pulvinar. Nunc laoreet sed mauris id malesauda curabiatur</p>
					</div>
				</div>
				<div class="cv-heading-row">
					<i class="heading-font-awesome fas fa-cogs"></i>
					<h2 class="cv-heading">Skills</h2>
				</div>
				<ul class="cv-skills-list">
					<li class="skills-list-item">
						<div class="single-chart">
						    <svg viewBox="0 0 36 36" class="circular-chart orange">
						      <path class="circle-bg"
						        d="M18 2.0845
						          a 15.9155 15.9155 0 0 1 0 31.831
						          a 15.9155 15.9155 0 0 1 0 -31.831"
						      />
						      <path class="circle"
						        stroke-dasharray="30, 100"
						        d="M18 2.0845
						          a 15.9155 15.9155 0 0 1 0 31.831
						          a 15.9155 15.9155 0 0 1 0 -31.831"
						      />
						      <text x="18" y="20.35" class="percentage">30%</text>
						    </svg>
  						</div>
						<p class="skills-item-text">Java</p>
					</li>
					<li class="skills-list-item">
						<div class="single-chart">
						    <svg viewBox="0 0 36 36" class="circular-chart orange">
						      <path class="circle-bg"
						        d="M18 2.0845
						          a 15.9155 15.9155 0 0 1 0 31.831
						          a 15.9155 15.9155 0 0 1 0 -31.831"
						      />
						      <path class="circle"
						        stroke-dasharray="55, 100"
						        d="M18 2.0845
						          a 15.9155 15.9155 0 0 1 0 31.831
						          a 15.9155 15.9155 0 0 1 0 -31.831"
						      />
						      <text x="18" y="20.35" class="percentage">55%</text>
						    </svg>
  						</div>
						<p class="skills-item-text">php</p>
					</li>
					<li class="skills-list-item">
						<div class="single-chart">
						    <svg viewBox="0 0 36 36" class="circular-chart orange">
						      <path class="circle-bg"
						        d="M18 2.0845
						          a 15.9155 15.9155 0 0 1 0 31.831
						          a 15.9155 15.9155 0 0 1 0 -31.831"
						      />
						      <path class="circle"
						        stroke-dasharray="50, 100"
						        d="M18 2.0845
						          a 15.9155 15.9155 0 0 1 0 31.831
						          a 15.9155 15.9155 0 0 1 0 -31.831"
						      />
						      <text x="18" y="20.35" class="percentage">50%</text>
						    </svg>
  						</div>
						<p class="skills-item-text">C#</p>
					</li>
					<li class="skills-list-item">
						<div class="single-chart">
						    <svg viewBox="0 0 36 36" class="circular-chart orange">
						      <path class="circle-bg"
						        d="M18 2.0845
						          a 15.9155 15.9155 0 0 1 0 31.831
						          a 15.9155 15.9155 0 0 1 0 -31.831"
						      />
						      <path class="circle"
						        stroke-dasharray="70, 100"
						        d="M18 2.0845
						          a 15.9155 15.9155 0 0 1 0 31.831
						          a 15.9155 15.9155 0 0 1 0 -31.831"
						      />
						      <text x="18" y="20.35" class="percentage">70%</text>
						    </svg>
  						</div>
						<p class="skills-item-text">HTML5</p>
					</li>
					<li class="skills-list-item">
						<div class="single-chart">
						    <svg viewBox="0 0 36 36" class="circular-chart orange">
						      <path class="circle-bg"
						        d="M18 2.0845
						          a 15.9155 15.9155 0 0 1 0 31.831
						          a 15.9155 15.9155 0 0 1 0 -31.831"
						      />
						      <path class="circle"
						        stroke-dasharray="85, 100"
						        d="M18 2.0845
						          a 15.9155 15.9155 0 0 1 0 31.831
						          a 15.9155 15.9155 0 0 1 0 -31.831"
						      />
						      <text x="18" y="20.35" class="percentage">85%</text>
						    </svg>
  						</div>
						<p class="skills-item-text">CSS</p>
					</li>
					<li class="skills-list-item">
						<div class="single-chart">
						    <svg viewBox="0 0 36 36" class="circular-chart orange">
						      <path class="circle-bg"
						        d="M18 2.0845
						          a 15.9155 15.9155 0 0 1 0 31.831
						          a 15.9155 15.9155 0 0 1 0 -31.831"
						      />
						      <path class="circle"
						        stroke-dasharray="90, 100"
						        d="M18 2.0845
						          a 15.9155 15.9155 0 0 1 0 31.831
						          a 15.9155 15.9155 0 0 1 0 -31.831"
						      />
						      <text x="18" y="20.35" class="percentage">90%</text>
						    </svg>
  						</div>
						<p class="skills-item-text">Swift</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>
<script >
	export default {
		name: 'cv',
	}
</script>
<style lang="scss">
@import '../assets/mixins.scss';
    .wrapper {
      margin: 0 auto;
      max-width: 1200px;
    }
	.first-column {
		background-color: $yellow;
		padding-top: 60px;
		.image-container {
			background-color: #ffffff;
			border-radius: 100%;
			margin: 0 auto;
			height: 188px;
			width: 188px;
			display: flex;
			padding: 5px;
			justify-content: center;
			align-items: center;
			.image-container-photo {
				height: 145px;
				width: 145px;
				padding: 20px 10px 0px 10px;
				border: 6px solid $yellow;
				border-radius: 100%;
				display: block;
				margin: 10px;
			}
		}
		.cv-name {
			text-align: center;
			font-size: 40px;
			font-weight: 700;
			color: $dark-grey;
			text-transform: uppercase;
			white-space: nowrap;
		}
		.cv-occupation {
			background-color: $dark-grey;
			color: $yellow;
			padding: 10px;
			font-size: 20px;
			text-align: center;
			text-transform: uppercase;
		}
		.cv-contact, .cv-hobbies {
			text-transform: uppercase;
			color: $dark-grey;
			text-align: center;
			font-size: 24px;
		}
		.contact-list {
			.contact-list-item {
				margin: 15px 0;
				display: flex;
				.contact-font-awesome  {
					color: $yellow;
					background-color: $dark-grey;
					height: 40px;
					width: 50px;
					text-align: right;
					line-height: 40px;
					padding-right: 10px;
					font-size: 24px;
				}
				.contact-list-p {
					padding: 10px 0 0 10px;
					font-size: 18px;
				}
			}
		}
		.hobbies-list {
			display: grid;
			grid-template-columns: 50% 50%;
			.hobbies-list-item {
				display: flex;
				margin: 15px auto;
				.hobbies-font-awesome {
					color: $yellow;
					background-color: $dark-grey;
					height: 40px;
					width: 40px;
					line-height: 40px;
					text-align: center;		
					font-size: 24px;		
				}
				.hobbies-list-p {
					font-size: 18px;
					padding: 10px 0 0 15px;
				}
			}
		}
		.cv-social-row {
			text-align: center;
			padding: 80px 0 20px 0;
			@media screen and (min-width: 1024px) {
				display: flex;
				justify-content: space-around;
			}
			p {
				margin: 10px 0;
			}
		}
		
	}
	.second-column {
		padding-top: 40px;
		.cv-heading-row {
			display: grid;
			grid-template-columns: 20% 80%;
			@media screen and (min-width:1024px) {
				grid-template-columns: 15% 85%;
			}
			.cv-heading {
				background-color: $dark-grey;
				color: #ffffff;
				padding: 10px 0 10px 20px;
				text-transform: uppercase;
				font-weight: 700;
				margin-bottom: 20px;
			}
			.heading-font-awesome {
				background-color: #ffffff;
				color: $yellow;
				font-size: 40px;
				align-self: center;
				padding-left: 10px;
				@media screen and (min-width: 768px) {
					font-size: 50px;
				}
			}
		}
		.cv-profile-text {
			margin-bottom: 10px;
			line-height: 150%;
			padding: 0 10px;
			font-size: 13px;
			color: $dark-grey;
		}
		.cv-data-container {
			border-left: 5px solid $yellow;
			margin-left: 30px;
			padding-left: 30px;
			position: relative;
			padding: 10px 20px;
			.cv-data-item {
				&::before {
					content: '';
					position: absolute;
					width: 15px;
					height: 15px;
					border-radius: 100%;
					background-color: $yellow;
					left: -10px;
				}
				.cv-university-name {
					margin-bottom: 5px;
					font-weight: 700;
					font-size: 16px;
				}
				.cv-university-title {
					margin-bottom: 5px;
					font-weight: 600;
					font-size: 14px
				}
				.cv-university-time {
					font-weight: 600;
					font-size: 14px;
				}
				.cv-university-text {
					margin: 10px 0;
					line-height: 150%;
					font-size: 13px;
				}
			}
		}
		.cv-skills-list {
			display: grid;
			grid-template-columns: (100%/2) (100%/2);
			padding-left: 20px;
			@media screen and (min-width:1024px) {
				grid-template-columns: (100%/3) (100%/3) (100%/3);
			}
			.skills-list-item {
				display: flex;
				.skills-item-text {
					align-self: center;
					text-transform: uppercase;
					padding-left: 10px;
				}
			}
		}
		// circle
		.single-chart {
			  width: 33%;
			  justify-content: space-around ;
			}

			.circular-chart {
			  display: block;
			  margin: 10px auto;
			  max-width: 80%;
			  max-height: 250px;
			}

			.circle-bg {
			  fill: none;
			  stroke: #eee;
			  stroke-width: 4.8;
			}
			.circular-chart.orange .circle {
			  stroke: $yellow;
			}
			.circle {
			  fill: none;
			  stroke-width: 4.0;
			  stroke-linecap: round;
			  animation: progress 1s ease-out forwards;
			}
			.percentage {
			  fill: #000000;
			  font-family: sans-serif;
			  font-size: 0.5em;
			  text-anchor: middle;
			  font-weight: 700;
			}

			@keyframes progress {
			  0% {
			    stroke-dasharray: 0 100;
			  }
			}
		}

@media screen and (min-width: 768px) {
	.wrapper {
		display: grid;
  		grid-template-columns: 40% 60%;
  		.first-column {

  		}
  		.second-column {
  			padding-left: 20px;
  		}
	}
  	
  }
@media screen and (min-width: 1024px) {
	.wrapper {
		grid-template-columns: 30% 70%;
	}
}
</style>