<template>
	<div class="question-container">
  <p class="question-text">{{ question.text }} </p>
  <div v-for="(mcanswer,index) in question.answers">
    <input class="question-input" type="radio" :id="'answer'+index" name="currentQuestion" v-model="answer" :value="mcanswer"><label class="question-label" :for="'answer'+index">{{mcanswer}}</label><br/>
  </div>
  <button class="start-btn" @click="submitAnswer">Przejdź dalej</button>
  <p class="question-number">Pytanie {{ questionNumber }}/3</p>
</div>
</template>
<script>
export default {
	name: 'Question',
	data() {
 		return {
   			answer:''
 	}
},
	props:['question','question-number'],
	methods:{
		submitAnswer:function() {
			this.$emit('answer', {answer:this.answer});
      		this.answer = null;
		}
	}
	}
</script>
<style lang="scss">
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
.question-container {
	padding-top: 20px;
	.question-text {
		margin-bottom: 20px;
		font-size: 24px;
		font-weight: 700;
		text-align: center;
	}
	.question-input {
		display: none;
	}
	.question-label {
		display: block;
		width: 220px;
		font-size: 24px;
		padding: 20px 40px;
		border-radius: 5px;
		border: 2px solid #eeeeee;
		text-align: center;
		margin: 0 auto;
		&:hover {
			cursor: pointer;
		}
	}
	.question-input:checked + .question-label {
		background-color: #eeeeee;
	}
	.question-number {
		font-weight: 700;
		padding-top: 40px;
		text-align: center;
		font-size: 18px;
	}
}
	
</style>