<template>
	<div>
  <div class="introStage" v-if="introStage">
    <h1 class="main-heading">Witaj w quizie</h1>
    <button class="btn start-btn" @click="startQuiz">START!</button>
  </div>
  
  <div class="questionStage" v-if="questionStage">
    <question 
              :question="questions[currentQuestion]"
              v-on:answer="handleAnswer"
              :question-number="currentQuestion+1"
    ></question>
  </div>
  <div v-if="resultsStage">
    <div v-if="correct === 3">
    		<cv></cv>
    </div>
    <div class="errorStage" v-else="correct < 3">
    	<p class="error">Brak dostępu !</p>
    </div>
  </div>
</div>
</template>
<script>
	import question from  './question.vue'
	import cv from './cv.vue'
	export default {
  	name: 'Quiz',
  	components: {
  		question,
  		cv,
  	},
  	props:['url'],
	  data() {
	    return {
	      introStage:false,
	      questionStage:false,
	      resultsStage:false,
	      title:'',
	      questions:[],
	      currentQuestion:0,
	      answers:[],
	      correct:0,
	    }
  },
  created() {    
    fetch(this.url)
    .then(res => res.json())
    .then(res => {
      this.title = res.title;
      this.questions = res.questions;
      this.introStage = true;
    })
  
  },
  methods:{
    startQuiz() {
      this.introStage = false;
      this.questionStage = true;
    },
    handleAnswer(e) {
      this.answers[this.currentQuestion]=e.answer;
      if((this.currentQuestion+1) === this.questions.length) {
        this.handleResults();
        this.questionStage = false;
        this.resultsStage = true;
      } else {
        this.currentQuestion++;
      }
    },
    handleResults() {
      this.questions.forEach((a, index) => {
        if(this.answers[index] === a.answer) this.correct++;        
      });
    }
  }
}	
</script>
<style lang="scss">
 @import '../assets/mixins.scss';
   .introStage, .questionStage{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
   }
	.main-heading {
		text-align: center;
		font-size: 64px;
	}
	.start-btn {
		display: block;
		margin: 0 auto;
		font-size: 24px;
		font-weight: 700;
		padding: 20px 40px;
		border-radius: 5px;
		background-color: #3b5998;
		border: none;
		color: #ffffff;
		&:hover {
			cursor: pointer;
			background-color: #4e69a2;
		}
	}
	.error {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 20px;
		color: red;
    @media screen and (min-width: 768px) {
      font-size: 48px;
    }
	}
</style>