<template>
  <div id="app">
    <Quiz url="https://api.myjson.com/bins/mz640"/>
  </div>
</template>

<script>
import Quiz from './components/Quiz.vue'

export default {
  name: 'app',
  components: {
    Quiz
  }
}
</script>

<style lang="scss">
  // RESET 
  html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }

  body {
    line-height: 1;
    font-family: 'Montserrat', sans-serif; 
  }

  ol, ul {
    list-style: none; 
  }

  blockquote, q {
    quotes: none; 
  }

  blockquote {
    &:before, &:after {
      content: '';
      content: none; 
    } 
  }

  q {
    &:before, &:after {
      content: '';
      content: none; 
    } 
  }
  a, button {
    transform: 0.25s ease-in-out;
  }
</style>
